.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  @apply bg-app-0 min-h-screen flex flex-col items-center justify-center text-lg text-ink-primary;
  background-color: #071411; /* Fallback for app-0 */
}

.App-link {
  @apply text-accent;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
